html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    overflow: auto;
	margin: 0;
	padding: 0;
	/*position: relative;*/
}
/*=================================================*/
/*Play button screen*/
/*=================================================*/
#play-button-screen {
	background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2000;
}
#play-button {
	position: absolute;
	height: 100px;
	width: 200px;
	background-color: white;
	z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#play-button-screen p a {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: gray;
	text-decoration: none;
}
/*=================================================*/
/*Intro video screen*/
/*=================================================*/
#title-screen, #title-screen-video {
    width: 100%;
    height: 100%;
}
#title-screen {
	background-color: black;	
	position: fixed;
    z-index: 1000;
}
/*=================================================*/
/*Difficulty mode select screen*/
/*=================================================*/
#difficulty-select-screen {
	background-color: black;
	z-index: 750;
	position: fixed;
	height: 100vh; 
}
#title-screen-partial img{
	height: auto;
	max-width: 100vw;
	z-index: 900;
}
.difficulty-mode {
	position: absolute;	
	height: auto;	
    left: 50%;
	max-width: 100%;    
	z-index: 900;
	transform: translateX(-50%);	
}
#easy{ top: 76%; }
#normal{ top: 83%; }
#hard{ top: 90%; }
/*=================================================*/
/*Character select screen*/
/*=================================================*/
#char-select-screen {
    background-color: #01025e;
    height: 100vh;
    position: fixed;
    z-index: 500;
}
#map-image img{
	height: 100vh;
	width: auto;
}
#player-icons {
	position: absolute;
	height: auto;
	top: 65%;
	left: 50%;
	transform: translateX(-50%);
}
#player-icons img{
	width: 100px;
	height: auto;
}
.player-select{ float: left; }
/*=================================================*/
/*VS screen*/
/*=================================================*/
#vs-screen {
	height: 100vh;
	width: 100vw;
	background-color: black;
	z-index: 400;
	position: fixed;
}
#vs-screen-image {
	height: 100vh;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
/*=================================================*/
/*Main screen*/
/*=================================================*/
/*Stage*/
#main-screen, #blackout { 
	position: fixed;
	background-color: black; 
	height: 100vh;
	width: 100vw;
}
#blackout {
	opacity: 0;
	z-index: 300;
}
.fade-in-and-out {
	animation: fadeOut 2s ease-out;
	animation-fill-mode:forwards;
}
@keyframes fadeOut {
	0% { opacity: 0; }
	25% { opacity: 1; }
	75% { opacity: 1; }
	100% { opacity: 0; }
}
#ryu-stage {
	height: auto;
	width: 100vw;
}
#round-image {
	width: 300px;
	height: auto;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);	
}
/*Squares*/
.char-css {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.board {
	z-index: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.board-row {
	clear: both;
}
.board-square {
	float: left;
	border: 3px solid black;
	line-height: 50px;
	width: 80px;
	height: 80px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.row-1 > :first-child  {
	border-top: none; 
	border-left: none;
}
.row-1 > :nth-child(2) {
	border-top: none;
}
.row-1 > :last-child {
	border-top: none; 
	border-right: none;	
}
.row-2 > :first-child {
	border-left: none;
}
.row-2 > :last-child {
	border-right: none;
}
.row-3 > :first-child {
	border-bottom: none; 
	border-left: none;
}
.row-3 > :nth-child(2) {
	border-bottom: none;
}
.row-3 > :last-child {
	border-bottom: none; 
	border-right: none;	
}
/*Characters*/
#player-1-char {
	position: fixed;
	top: 45%;
	left: 20%;
}
#player-2-char {
	position: fixed;
	top: 45%;
	right: 20%;
}
.size {
  	width: 150px;
	height: 150px;
		 transform: scale(5);
	-moz-transform: scale(5);
}
.flipped {
		 transform: scaleX(-1) scale(5);
	-moz-transform: scaleX(-1) scale(5);	
}
/*=================================================*/
/*End screen*/
/*=================================================*/
#end-screen {
	background-color: black;
	height: 100vh;
	width: 100vw;
}
#end-screen-image {
	height: 100vh;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;		
}
/*=================================================*/
/*Character animation frames*/
/*=================================================*/
/*Ryu*/
.ryu-idle { 
	background-image: url("ryu-idle.gif");
}
/*Attack frames*/
.ryu-punch-frame1 {
  background: url("ryu-map.gif") 0 0;
}
.ryu-punch-frame2 {
  background: url("ryu-map.gif") -151px 0;
}
.ryu-punch-frame3 {
  background: url("ryu-map.gif") -302px 0;
}
.ryu-punch-frame4 {
  background: url("ryu-map.gif") -453px 0;
}
.ryu-punch-frame5 {
  background: url("ryu-map.gif") -604px 0;
}

.ryu-punch2-frame1{
  background: url("ryu-map.gif") 0 -151px;
}
.ryu-punch2-frame2{
  background: url("ryu-map.gif") -151px -151px;
}
.ryu-punch2-frame3{
  background: url("ryu-map.gif") -302px -151px;
}
.ryu-punch2-frame4{
  background: url("ryu-map.gif") -453px -151px;
}
.ryu-punch2-frame5{
  background: url("ryu-map.gif") -604px -151px;
}

.ryu-kick-frame1{
  background: url("ryu-map.gif") 0 -302px;
}
.ryu-kick-frame2{
  background: url("ryu-map.gif") -151px -302px;
}
.ryu-kick-frame3{
  background: url("ryu-map.gif") -302px -302px;
}
.ryu-kick-frame4{
  background: url("ryu-map.gif") -453px -302px;
}
.ryu-kick-frame5{
  background: url("ryu-map.gif") -604px -302px;
}
/*Hit frames*/
.ryu-hit-frame1{
  background: url("ryu-map.gif") 0 -453px;
}
.ryu-hit-frame2{
  background: url("ryu-map.gif") -151px -453px;
}
.ryu-hit-frame3{
  background: url("ryu-map.gif") -302px -453px;
}
.ryu-hit-frame4{
  background: url("ryu-map.gif") -453px -453px;
}
/*Guile*/
.guile-idle {
	background-image: url("guile-idle.gif");
}
/*Attack frames*/
.guile-punch-frame1{
	background: url("guile-map.gif") 0 0;
}
.guile-punch-frame2{
	background: url("guile-map.gif") -151px 0;
}
.guile-punch-frame3{
	background: url("guile-map.gif") -302px 0;
}
.guile-punch-frame4{
	background: url("guile-map.gif") -453px 0;
}
.guile-punch-frame5{
	background: url("guile-map.gif") -604px 0;
}

.guile-kick-frame1{
	background: url("guile-map.gif") 0 -151px;
}
.guile-kick-frame2{
	background: url("guile-map.gif") -151px -151px;
}
.guile-kick-frame3{
	background: url("guile-map.gif") -302px -151px;
}
.guile-kick-frame4{
	background: url("guile-map.gif") -453px -151px;
}
.guile-kick-frame5{
	background: url("guile-map.gif") -604px -151px;
}
.guile-kick-frame6{
	background: url("guile-map.gif") 0 -302px;
}
.guile-kick-frame7{
	background: url("guile-map.gif") -151px -302px;
}
.guile-kick-frame8{
	background: url("guile-map.gif") -302px -302px;
}

.guile-kick2-frame1{
	background: url("guile-map.gif") 0 -453px;
}
.guile-kick2-frame2{
	background: url("guile-map.gif") -151px -453px;
}
.guile-kick2-frame3{
	background: url("guile-map.gif") -302px -453px;
}
.guile-kick2-frame4{
	background: url("guile-map.gif") -453px -453px;
}
.guile-kick2-frame5{
	background: url("guile-map.gif") -604px -453px;
}
/*Hit frames*/
.guile-hit-frame1{
  background: url("guile-map.gif") 0 -604px;
}
.guile-hit-frame2{
  background: url("guile-map.gif") -151px -604px;
}
.guile-hit-frame3{
  background: url("guile-map.gif") -302px -604px;
}