html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    overflow: auto;
	margin: 0;
	padding: 0;
	position: relative;
}
#play-button-screen {
	background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2000;
}
#play-button {
	position: absolute;
	height: 100px;
	width: 200px;
	background-color: white;
	z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#play-button-screen p a {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: gray;
	text-decoration: none;
}
#title-screen {
	background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}
#title-screen-video {
    width: 100%;
    height: 100%;
}

#difficulty-select-screen {
	background-color: black;
	z-index: 750;
	position: fixed;
	height: 100vh; 
}
#title-screen-partial img{
	height: auto;
	max-width: 100vw;
	z-index: 900;
}
#easy{
	position: absolute;
	height: auto;
	z-index: 900;
	max-width: 100%;
    top: 76%;
    left: 50%;
	transform: translateX(-50%);
/*    overflow: scroll;*/
}
#normal{
	position: absolute;
	height: auto;
	z-index: 900;
	max-width: 100%;
    top: 83%;
    left: 50%;
	transform: translateX(-50%);
}
#hard{
	position: absolute;
	height: auto;
	z-index: 900;
	max-width: 100%;
    top: 90%;
    left: 50%;
	transform: translateX(-50%);
}
#char-select-screen {
    background-color: #01025e;
    height: 100vh;
    position: fixed;
    z-index: 500;
}
#map-image img{
/*	height: auto;
	max-width: 100vw;*/
	height: 100vh;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;	
}
#player-icons {
	position: absolute;
	height: auto;
	z-index: 700;
	top: 65%;
	left: 50%;
	transform: translateX(-50%);
}
#player-icons img{
	width: 100px;
	height: auto;
}
.player-select{ float: left; }
#vs-screen {
	height: 100vh;
	width: 100vw;
	background-color: black;
	z-index: 400;
	position: fixed;
}
#vs-screen-image {
	height: 100vh;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#main-screen { 
	position: fixed;
	background-color: black; 
	height: 100vh;
	width: 100vw;
}
#blackout {
	background-color: black;
	opacity: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 300;
}
.fade-in-and-out {
	animation: fadeOut 2s ease-out;
	animation-fill-mode:forwards;
}
@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
#ryu-stage {

	height: auto;
	width: 100vw;
	display: block;
    margin-left: auto;
    margin-right: auto;	
}

#round-image {
	width: 300px;
	height: auto;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);	
}

.char-css {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.board {
	z-index: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.board-row {
	/*height: 52px;*/
}
.board-square {
	float: left;
	border: 3px solid black;
	line-height: 50px;
	width: 80px;
	height: 80px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.row-1 {
	clear: both;
}
.row-2 {
	clear: both;
}
.row-3 {
	clear: both;
}
.player-select-row {
	clear: both;
}
.row-1 > :first-child  {
	border-top: none; 
	border-left: none;
}
.row-1 > :nth-child(2) {
	border-top: none;
}
.row-1 > :last-child {
	border-top: none; 
	border-right: none;	
}
.row-2 > :first-child {
	border-left: none;
}
.row-2 > :last-child {
	border-right: none;
}
.row-3 > :first-child {
	border-bottom: none; 
	border-left: none;
}
.row-3 > :nth-child(2) {
	border-bottom: none;
}
.row-3 > :last-child {
	border-bottom: none; 
	border-right: none;	
}
#player-1-char {
	position: fixed;
	top: 45%;
	left: 20%;
}
#player-2-char {
	position: fixed;
	top: 45%;
	right: 20%;
}

#end-screen {
	background-color: black;
	height: 100vh;
	width: 100vw;
}

#end-screen-image {
	height: 100vh;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;		
}

.size {
  	width: 150px;
	height: 150px;
		 transform: scale(5);
	-moz-transform: scale(5);
}

.flipped {
		 transform: scaleX(-1) scale(5);
	-moz-transform: scaleX(-1) scale(5);	
}

.ryu-idle { 
	background-image: url("ryu-idle.gif");
}
.guile-idle {
	background-image: url("guile-idle.gif");
}

.ryu-punch-1p1, .ryu-punch-2p1 {
  background-image: url("ryu-map-1p.gif") 0 0;
}
.ryu-punch-1p2, .ryu-punch-2p2 {
  background-image: url("ryu-map-1p.gif") -151px 0;
}
.ryu-punch-1p3, .ryu-punch-2p3 {
  background-image: url("ryu-map-1p.gif") -302px 0;
}
.ryu-punch-1p4 .ryu-punch-2p4 {
  background-image: url("ryu-map-1p.gif") -453px 0;
}
.ryu-punch-1p5 .ryu-punch-2p5 {
  background-image: url("ryu-map-1p.gif") -604px 0;
}

.ryu-punch-2p1 {

}


.ryu-punch-2p1{
  background: url("ryu-map-1p.gif") 0 0;
  	transform: scaleX(-1) scale(5);
	-moz-transform: scaleX(-1) scale(5);
}
.ryu-punch-2p2{
  background: url("ryu-map-1p.gif") -151px 0;
  	transform: scaleX(-1) scale(5);
	-moz-transform: scaleX(-1) scale(5);
}
.ryu-punch-2p3{
  background: url("ryu-map-1p.gif") -302px 0;
  	transform: scaleX(-1) scale(5);
	-moz-transform: scaleX(-1) scale(5);
}
.ryu-punch-2p4{
  background: url("ryu-map-1p.gif") -453px 0;
  	transform: scaleX(-1) scale(5);
	-moz-transform: scaleX(-1) scale(5);
}
.ryu-punch-2p5{
  background: url("ryu-map-1p.gif") -604px 0;
  	transform: scaleX(-1) scale(5);
	-moz-transform: scaleX(-1) scale(5);
}

.ryu-punch2-1p1{
  background: url("ryu-map-1p.gif") 0 -151px;
}
.ryu-punch2-1p2{
  background: url("ryu-map-1p.gif") -151px -151px;
}
.ryu-punch2-1p3{
  background: url("ryu-map-1p.gif") -302px -151px;
}
.ryu-punch2-1p4{
  background: url("ryu-map-1p.gif") -453px -151px;
}
.ryu-punch2-1p5{
  background: url("ryu-map-1p.gif") -604px -151px;
}

.ryu-kick-1p1{
  background: url("ryu-map-1p.gif") 0 -302px;
}
.ryu-kick-1p2{
  background: url("ryu-map-1p.gif") -151px -302px;
}
.ryu-kick-1p3{
  background: url("ryu-map-1p.gif") -302px -302px;
}
.ryu-kick-1p4{
  background: url("ryu-map-1p.gif") -453px -302px;
}
.ryu-kick-1p5{
  background: url("ryu-map-1p.gif") -604px -302px;
}

.ryu-hit-1p1{
  background: url("ryu-map-1p.gif") 0 -453px;
}
.ryu-hit-1p2{
  background: url("ryu-map-1p.gif") -151px -453px;
}
.ryu-hit-1p3{
  background: url("ryu-map-1p.gif") -302px -453px;
}
.ryu-hit-1p4{
  background: url("ryu-map-1p.gif") -453px -453px;
}

.guile-punch-2p1 .guile-punch-1p1{
	background: url("guile-map-2p.gif") 0 0;
}
.guile-punch-2p2 .guile-punch-1p2{
	background: url("guile-map-2p.gif") -151px 0;
}
.guile-punch-2p3{
	background: url("guile-map-2p.gif") -302px 0;
}
.guile-punch-2p4{
	background: url("guile-map-2p.gif") -453px 0;
}
.guile-punch-2p5{
	background: url("guile-map-2p.gif") -604px 0;
}

.guile-kick-2p1{
	background: url("guile-map-2p.gif") 0 -151px;
}
.guile-kick-2p2{
	background: url("guile-map-2p.gif") -151px -151px;
}
.guile-kick-2p3{
	background: url("guile-map-2p.gif") -302px -151px;
}
.guile-kick-2p4{
	background: url("guile-map-2p.gif") -453px -151px;
}
.guile-kick-2p5{
	background: url("guile-map-2p.gif") -604px -151px;
}
.guile-kick-2p6{
	background: url("guile-map-2p.gif") 0 -302px;
}
.guile-kick-2p7{
	background: url("guile-map-2p.gif") -151px -302px;
}
.guile-kick-2p8{
	background: url("guile-map-2p.gif") -302px -302px;
}

.guile-kick2-2p1{
	background: url("guile-map-2p.gif") 0 -453px;
}
.guile-kick2-2p2{
	background: url("guile-map-2p.gif") -151px -453px;
}
.guile-kick2-2p3{
	background: url("guile-map-2p.gif") -302px -453px;
}
.guile-kick2-2p4{
	background: url("guile-map-2p.gif") -453px -453px;
}
.guile-kick2-2p5{
	background: url("guile-map-2p.gif") -604px -453px;
}

.guile-hit-2p1{
  background: url("guile-map-2p.gif") 0 -604px;
}
.guile-hit-2p2{
  background: url("guile-map-2p.gif") -151px -604px;
}
.guile-hit-2p3{
  background: url("guile-map-2p.gif") -302px -604px;
}

.guile-punch-2p1{
	background: url("guile-map-2p.gif") 0 0;
}
.guile-punch-2p2{
	background: url("guile-map-2p.gif") -151px 0;
}
.guile-punch-2p3{
	background: url("guile-map-2p.gif") -302px 0;
}
.guile-punch-2p4{
	background: url("guile-map-2p.gif") -453px 0;
}
.guile-punch-2p5{
	background: url("guile-map-2p.gif") -604px 0;
}

.guile-kick-2p1{
	background: url("guile-map-2p.gif") 0 -151px;
}
.guile-kick-2p2{
	background: url("guile-map-2p.gif") -151px -151px;
}
.guile-kick-2p3{
	background: url("guile-map-2p.gif") -302px -151px;
}
.guile-kick-2p4{
	background: url("guile-map-2p.gif") -453px -151px;
}
.guile-kick-2p5{
	background: url("guile-map-2p.gif") -604px -151px;
}
.guile-kick-2p6{
	background: url("guile-map-2p.gif") 0 -302px;
}
.guile-kick-2p7{
	background: url("guile-map-2p.gif") -151px -302px;
}
.guile-kick-2p8{
	background: url("guile-map-2p.gif") -302px -302px;
}

.guile-kick2-2p1{
	background: url("guile-map-2p.gif") 0 -453px;
}
.guile-kick2-2p2{
	background: url("guile-map-2p.gif") -151px -453px;
}
.guile-kick2-2p3{
	background: url("guile-map-2p.gif") -302px -453px;
}
.guile-kick2-2p4{
	background: url("guile-map-2p.gif") -453px -453px;
}
.guile-kick2-2p5{
	background: url("guile-map-2p.gif") -604px -453px;
}

.guile-hit-2p1{
  background: url("guile-map-2p.gif") 0 -604px;
}
.guile-hit-2p2{
  background: url("guile-map-2p.gif") -151px -604px;
}
.guile-hit-2p3{
  background: url("guile-map-2p.gif") -302px -604px;
}

/*.guile-punch-1p5{
	background: url("guile-map-1p.gif") 0 0;
}
.guile-punch-1p4{
	background: url("guile-map-1p.gif") -151px 0;
}
.guile-punch-1p3{
	background: url("guile-map-1p.gif") -302px 0;
}
.guile-punch-1p2{
	background: url("guile-map-1p.gif") -453px 0;
}
.guile-punch-1p1{
	background: url("guile-map-1p.gif") -604px 0;
}

.guile-kick-1p8{
	background: url("guile-map-1p.gif") 0 -151px;
}
.guile-kick-1p7{
	background: url("guile-map-1p.gif") -151px -151px;
}
.guile-kick-1p6{
	background: url("guile-map-1p.gif") -302px -151px;
}
.guile-kick-1p5{
	background: url("guile-map-1p.gif") -453px -151px;
}
.guile-kick-1p4{
	background: url("guile-map-1p.gif") -604px -151px;
}
.guile-kick-1p3{
	background: url("guile-map-1p.gif") 0 -302px;
}
.guile-kick-1p2{
	background: url("guile-map-1p.gif") -151px -302px;
}
.guile-kick-1p1{
	background: url("guile-map-1p.gif") -302px -302px;
}

.guile-kick2-1p5{
	background: url("guile-map-1p.gif") 0 -453px;
}
.guile-kick2-1p4{
	background: url("guile-map-1p.gif") -151px -453px;
}
.guile-kick2-1p3{
	background: url("guile-map-1p.gif") -302px -453px;
}
.guile-kick2-1p2{
	background: url("guile-map-1p.gif") -453px -453px;
}
.guile-kick2-1p1{
	background: url("guile-map-1p.gif") -604px -453px;
}

.guile-hit-1p3{
  background: url("guile-map-1p.gif") 0 -604px;
}
.guile-hit-1p2{
  background: url("guile-map-1p.gif") -151px -604px;
}
.guile-hit-1p1{
  background: url("guile-map-1p.gif") -302px -604px;
}*/