body {
	margin: 0;
	padding: 0;
	position: relative;
	background: url("ryu-stage.jpg");
	background-size: cover;
	background-repeat: none;
}
#play-button-screen {
	background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2000;
}
#play-button {
	position: absolute;
	height: 100px;
	width: 200px;
	background-color: white;
	z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#title-screen {
	background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}
#title-screen-video {
    width: 100%;
    height: 100%;
}
#difficulty-select-screen {
	background-color: black;
	z-index: 750;
	position: relative;
	height: 100vh; 
}
#title-screen-partial img{
	height: auto;
	max-width: 100vw;
	z-index: 900;
}
#easy{
	position: absolute;
	height: auto;
	z-index: 900;
	max-width: 100%;
    top: 76%;
    left: 50%;
	transform: translateX(-50%);
/*    overflow: scroll;*/
}
#normal{
	position: absolute;
	height: auto;
	z-index: 900;
	max-width: 100%;
    top: 83%;
    left: 50%;
	transform: translateX(-50%);
}
#hard{
	position: absolute;
	height: auto;
	z-index: 900;
	max-width: 100%;
    top: 90%;
    left: 50%;
	transform: translateX(-50%);
}
#char-select-screen {
    background-color: #01025e;
    height: 100vh;
    position: fixed;
    z-index: 500;
}
#map-image img{
	height: auto;
	max-width: 100vw;
}
#player-icons {
	position: absolute;
	height: auto;
	z-index: 700;
	top: 65%;
	left: 50%;
	transform: translateX(-50%);
}
#player-icons img{
	width: 100px;
	height: auto;
}
.player-select{ float: left; }

#vs-screen {
	height: 100vh;
	width: 100vw;
	background-color: black;
	z-index: 400;
	position: fixed;
}

.board {
	z-index: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.board-row {
	/*height: 52px;*/
}
.board-square {
	float: left;
	border: 1px solid black;
	line-height: 50px;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}
.row-1 {
	clear: both;
}
.row-2 {
	clear: both;
}
.row-3 {
	clear: both;
}
.player-select-row {
	clear: both;
}
.row-1 > :first-child  {
	border-top: none; 
	border-left: none;
}
.row-1 > :nth-child(2) {
	border-top: none;
}
.row-1 > :last-child {
	border-top: none; 
	border-right: none;	
}
.row-2 > :first-child {
	border-left: none;
}
.row-2 > :last-child {
	border-right: none;
}
.row-3 > :first-child {
	border-bottom: none; 
	border-left: none;
}
.row-3 > :nth-child(2) {
	border-bottom: none;
}
.row-3 > :last-child {
	border-bottom: none; 
	border-right: none;	
}