body {
	background-color: #161616;
	color: olive;
}
a { 
	text-decoration: none; 
	color: cornflowerblue;
}
.code { font-family: 'Source Code Pro', monospace; }
.var-name { color: whitesmoke; }
.num-color { color: #333333; }
.var-color { color: purple; }